---
title: Informatics 2016/17
layout: base
---
<header>
    <h1>
        <span class="headerText"></span>
        <small class="links">
            {% for link in site.quick_links %}
            <a href="{{link.url}}">{{link.name}}</a>{% if forloop.last == false %} - {% endif %}
            {% endfor %}
        </small>
    </h1>
</header>
        
{% assign sections = site.sections | where: "exam_over", "false" | sort: "semester" %}
{% for section in sections %}
    <section>
        <h3>
            {{ section.title }} {% if section.links %}(
            {% for link in section.links %}{% if forloop.first == false %}, {% endif %}<a href="{{ link.url }}">{{ link.name }}</a>{% endfor %}
            ){% endif %}
        </h3>
        {{ section.content }}
    </section>
{% endfor %}
