body {
	margin:1em auto;
	max-width:40em;
	padding: 0 .62em;
	font: 1.2em/1.62em sans-serif;
}

h1, h2, h3 {
	line-height:1.2em;
}

@media print{
	body{max-width:none}
}

.fakeURL {
	color: black;
	text-decoration: none;
	cursor: text;
}
