---
title: Your Courses
short-title: Your Courses
layout: default
permalink: /mine
login_required: true
---
{% include nav.html %}

{% include frontpage-header.html %}

<div class="bi-loading">
    <h3>Your courses are loading...</h3>
</div>

<div id="my-sections" style="display: none;">

{% assign len =  page.path.size | minus: 3 | minus: 7 %}

<!-- First show pinned sections -->

{% assign sections = site.sections | where: "pinned", true | sort: "title" %}
{% if page.show-archived == false %}
{% assign sections = sections | where: "archived", "false" %}
{% endif %}

{% include sections.html sections=sections hidden=hidden %}

<!-- Then show non-pinned sections -->

{% assign sections = site.sections | where: "pinned", false | sort: "title" %}
{% if page.show-archived == false %}
{% assign sections = sections | where: "archived", "false" %}
{% endif %}

{% include sections.html sections=sections hidden=hidden %}

</div>
