<div id="get-exam-timetable">loading exams inline...</div>
<div id='exam-timetable-table' style="display:none">

    Click on title/venue/date to expand.
    <table style="width: 100%;">
        <thead>
            <tr>
                <th>Exam</th>
                <th>Venue</th>
                <th>Date</th>
                <!-- <th></th>
                <th></th> -->
            </tr>
        </thead>

        <tbody>
            <!-- <tr>
                <td>name</td>
                <td>location</td>
                <td>date</td>
                <td class="examTime" data-time="time"></td>
                <td><button onclick="searchExam('code')">View</button></td>
            </tr> -->
        </tbody>
    </table>
</div>

<style>
#exam-timetable-table > table > tbody > tr > td {
	cursor: pointer;
}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
<script>
    const courses = JSON.parse(`{{ site.data.courses | jsonify }}`);
    // const pageCourses = ` site.sections | where: "year", page.year | where: "archived", false | jsonify `
    // console.log(pageCourses)
    const year = parseInt(`{{ page.year }}`);

    // If the year page defines frontmatter containing SCQF levels,
    // use that to filter the exams shown. Otherwise, we'll use
    // the year. This is useful for e.g. Year 4 page showing exams
    // for some level 10 courses too even if the main offered year is for Year 3, whereas Year 1 shouldn't show any Year 2 exams even if they might be SCQF 08.
    const filter_by_levels = !!JSON.parse(`{{ page.levels | jsonify }}`); // false if not defined
    const desiredLevels = JSON.parse(`{{ page.levels | jsonify }}`) || [];
    const desiredYear = String(`{{ page.year }}`);

    const fail = (e) => {
        document.querySelector("#get-exam-timetable").innerText = "something went wrong while trying to get exam data, sorry";
        console.log(e);
    }
    const success = (data) => {
        showExamTimetable(data.data);
    }

    const readVenue = venues => {
        let s = '';
        venues.forEach(v => {
            const loc = v.location.replace("Edinburgh International Conference Centre", "EICC")
            s += loc + ', ';
        })
        return s.slice(0, -2);
    }
    const showExamTimetable = exams => {
        const ourCourses = [];
        Object.keys(courses.list).forEach(function(key) {
            const course = courses.list[key];
            // Filter to just courses that are relevant to the year we are looking at.
            // We will further filter this list by the exams that are available.
            if (filter_by_levels && !desiredLevels.includes(course.level)) return;

            if (!filter_by_levels && desiredYear !== course.year) return;

            ourCourses[course.euclid_code] = course.acronym;
        });

        const results = [];
        exams.forEach(exam => {
            exam.code = exam.title.split(' ')[0];
            // Remove colon suffix if it is there
            if (exam.code[exam.code.length - 1] === ':') {
                exam.code = exam.code.slice(0, -1);
            }

            const acronym = ourCourses[exam.code];
            // Only show exams for courses we previously
            // filtered for by SCQF level.
            if (!acronym) return;

            console.log("Found Informatics course for year ", year, exam.title);
            const course = courses.list[acronym];
            exam.acronym = acronym;
            exam.venue = readVenue(exam.venues);
            // Slice away the course code, colon and space from the course title
            exam.title = exam.title.slice(exam.code.length + 2);
            exam.date = "date";
            console.log("Title", exam.title)
            const timeText = exam.start_date + ' ' + exam.start_time.replace(" a.m.", "am").replace(" p.m.", "pm");
            const time = moment(timeText, "dddd, Do MMMM YYYY hh:mma");
            if (moment().isAfter(time)) {
                exam.time = "done!";
                return;
            }
            exam.timeRel = "in " + time.fromNow(true);
            exam.timeAbs = timeText;
            exam.time = moment.unix(time);

            results.push(exam);
        })

        results.sort((a, b) => {return a.time > b.time ? 1 : -1});

        if (results.length === 0) {
            document.querySelector("#get-exam-timetable").innerText = "No exams found for year " + year;
            return;
        }

        document.querySelector("#get-exam-timetable").style.display = "none";
        const table = document.querySelector("#exam-timetable-table");
        table.style.display = 'block'
        const body = table.querySelector('tbody');
        body.innerHTML = ''

        // On click, toggle expansions. Default with collapsed.
        const clickyRow = (t, expanded, collapsed) => {
            t.addEventListener('click', () => {
                t.replaceChildren(...t.getAttribute('data-collapsed') === 'true' ? expanded : collapsed);
                t.setAttribute('data-collapsed', t.getAttribute('data-collapsed') === 'true' ? 'false' : 'true');
            });
            t.replaceChildren(...collapsed);
            t.setAttribute('data-collapsed', 'true');
        }

        results.forEach(exam => {
            const shortTitle = document.createElement('td');
            shortTitle.innerText = exam.acronym;

            let shortVenueText = exam.venue.slice(0, 50);
            if (shortVenueText !== exam.venue) {
                shortVenueText += '...';
            }
            const shortVenue = document.createElement('td');
            shortVenue.innerText = shortVenueText;

            const shortDate = document.createElement('td');
            shortDate.innerText = exam.timeRel;

            const longTitle = document.createElement('td');
            longTitle.innerText = exam.title;

            const longVenue = document.createElement('td');
            longVenue.innerText = exam.venue;

            const longDate = document.createElement('td');
            longDate.innerText = exam.timeAbs;

            const row = document.createElement('tr');

            clickyRow(row, [longTitle, longVenue, longDate], [shortTitle, shortVenue, shortDate]);

            body.appendChild(row);
        })

    }

    window.addEventListener('load', () => {
        fetch('https://corsproxy.io/?' + encodeURIComponent('https://exams.is.ed.ac.uk/search/'))
            .then(r => r.json())
            .then(r => success(r))
            .catch(e => fail(e))
    })
</script>
