
<div style="text-align: center;">
    <!--     <small>Resitting an exam? <a href="http://www.scripts.sasg.ed.ac.uk/registry/examinations/index.cfm">Check when your exam is</a>.</small> -->
</div>

{% if page.url != "/" %}
    <a id="sem1-btn" class="btn">view semester 1</a>
    <a id="sem2-btn" class="btn">view semester 2</a>
    <a id="all-btn" class="btn">view all</a>
{% endif %}

<div id="bi-interactive">
    <div class="bi-loading">
        <a class="btn" href="#">Loading...</a>
    </div>

    <div id="login" style="display:none;">
        <a class="btn" href="https://weblogin.inf.ed.ac.uk/cosign-bin/cosign.cgi?cosign-betterinformatics.com&https://betterinformatics.com{{ page.url }}">Log in</a>
    </div>

    <div id="user" style="display:none;">
        <a href="/mine" class="btn"><span id="user-name"></span>'s courses</a>

        {% if page.login_required %}
            {% capture logout_url %}/{% endcapture %}
        {% else %}
            {% capture logout_url %}{{ page.url }}{% endcapture %}
        {% endif %}
        <a
            href="https://map.betterinformatics.com/logout?next=https://betterinformatics.com{{ logout_url }}"
            class="btn">Logout</a>
    </div>
</div>
