---
---
<!doctype html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">

    {% include head.html %}

    <body id="top">
        <a href="{{ site.baseurl }}/">
            <div id="title-small" class="hide-on-big">
                <h1>Better Informatics {% if hasTitle == "true" %} - {{ page.title }} {% endif %}</h1>
            </div>


            <div id="title" class="ir hide-on-small">
                <h1>Better Informatics</h1>
            </div>
        </a>

        <div id="content">
            {{ content }}

            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 4em;">
                <a href="mailto:admin@betterinformatics.com">Send feedback</a>
            </div>
        </div>

        {% if page.layout == "frontpage" %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script type="text/javascript">
                $(() => {
                    // If a course is provided, show everything
                    if (window.location.hash) {
                        $("[data-semester]").show();
                        $(location.hash).find("h3").css("background-color", "rgba(255, 255, 0, 0.2)")
                    }

                    $("#sem1-btn,#sem2-btn,#all-btn").click(btn => {
                        // First show everything
                        $("[data-semester]").show();

                        var sem = btn.target.id.slice(3, 4);
                        if (sem == "1") {
                            $("[data-semester='2']").hide();
                        } else if (sem == "2") {
                            $("[data-semester='1']").hide();
                        }
                    });
                })
            </script>
        {% endif %}

        <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110956746-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-110956746-1');
        </script>

    </body>
</html>
