---
---
<!doctype html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">

    {% include head.html %}

    <body id="top">
        <a href="{{ site.baseurl }}/">
            <div id="title-small" class="hide-on-big">
                <h1>Better Informatics {% if hasTitle == "true" %} - {{ page.title }} {% endif %}</h1>
            </div>


            <div id="title" class="ir hide-on-small">
                <h1>Better Informatics</h1>
            </div>
        </a>

        <div id="content">
            <!-- <a href="#" id="edit_link">edit this page</a> -->
            
            {{ content }}
            
            <div style="text-align: center">
                <a href="mailto:betterinformatics@gmail.com" class="btn">Send us feedback</a>
            </div>
        </div>

        <script>
            var _gaq=[['_setAccount','UA-5993154-18'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

        {% if page.layout == "frontpage" %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(() => {
                $("#sem1-btn,#sem2-btn,#all-btn").click(btn => {
                    // First show everything
                    $("[data-semester]").show();

                    var sem = btn.target.id.slice(3, 4);
                    if (sem == "1") {
                        $("[data-semester='2']").hide();
                    } else if (sem == "2") {
                        $("[data-semester='1']").hide();
                    }
                });
            })
        </script>
        {% endif %}
    </body>
</html>
