---
layout: default
---
{% include nav.html %}

<div style="text-align: center;">
    <a href="{{ site.baseurl }}/chat" class="btn">Chat with other students</a>
    <a href="{{ site.baseurl }}/community" class="btn">Community</a>
    <a href="{{ site.baseurl }}/files" class="btn">Uploading to Drive?</a>
    </br>
<!--     <small>Resitting an exam? <a href="http://www.scripts.sasg.ed.ac.uk/registry/examinations/index.cfm">Check when your exam is</a>.</small> -->
</div>

{{ content }}

{% assign len =  page.path.size | minus: 3 | minus: 7 %}
{% assign name = page.path | slice: 7, len %}

{% assign sections = site.sections | where: "year", name | sort: "title" | sort: "ordering" %}
{% if page.show-archived == false %}
{% assign sections = sections | where: "archived", "false" %}
{% endif %}




{% for section in sections %}
    {% assign size = section.path.size | minus: 9 | minus: 4 %}

    {% capture sectionID %}
        {% if section.course-acronym != "" %}{{ section.course-acronym }}{% else %}{{ section.title | slugify }}{% endif %}
    {% endcapture %}
    <section id="{{ sectionID | strip }}">
        <h3>
            {% if section.link %}
                <a href="{{ section.link }}">
            {% elsif section.course-acronym != "" %}
                <a href="https://www.inf.ed.ac.uk/teaching/courses/{{ section.course-acronym }}/">
            {% endif %}
            {{ section.title }}
            {% if section.link or (section.course-acronym != "") %}
                </a>
            {% endif %}

            {% if section.links %}<small>
                {% for link in section.links %}{% if forloop.first == false %}, {% endif %}<a href="{{ link.url }}">{{ link.name }}</a>{% endfor %}
            </small>{% endif %}

            <a class="link-icon" href="#{{ sectionID | strip }}"><i class="fa fa-link" aria-hidden="true"></i></a>
            <a class="edit-pencil" href="https://github.com/{{ site.data.repo }}/blob/master/{{ section.path }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        </h3>
        {{ section.content | markdownify }}
    </section>
{% endfor %}
