---
layout: default
---
{% include nav.html %}

Hold on a while, we're bringing Better Informatics back. If you come across any problems, or would like to provide feedback please <a href="mailto:betterinformatics@gmail.com">email us</a>. Please don't forget to transfer ownership of Drive files to <strong>betterinformatics@gmail.com</strong>.

{{ content }}

{% assign len =  page.path.size | minus: 3 | minus: 7 %}
{% assign name = page.path | slice: 7, len %}

{% if page.show-archived%}
{% assign sections = site.sections | where: "year", name | sort: "title" | sort: "ordering" %}
{% else %}
{% assign sections = site.sections | where: "year", name | sort: "title" | sort: "ordering" | where: "archived", "false" %}
{% endif %}




{% for section in sections %}
    {% assign size = section.path.size | minus: 9 | minus: 4 %}
    <section id="{{ section.title | slugify }}">
        <h3>
            {% if section.link %}
                <a href="{{ section.link }}">
            {% endif %}
            {{ section.title }}
            {% if section.link %}
                </a>
            {% endif %}

            {% if section.links %}(
                {% for link in section.links %}{% if forloop.first == false %}, {% endif %}<a href="{{ link.url }}">{{ link.name }}</a>{% endfor %}
            ){% endif %}

            <a class="link-icon" href="#{{ section.title | slugify }}"><i class="fa fa-link" aria-hidden="true"></i></a>
            <a class="edit-pencil" href="https://github.com/{{ site.data.repo }}/blob/master/{{ section.path }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        </h3>
        {{ section.content | markdownify }}
    </section>
{% endfor %}